<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>
        Dashboard
    </h1><br>

    <form action="edit-user-profile" method="post">
        <label> Edit User Profile </label><br>
        <input type="submit"><br>
    </form><br>

    <form action="fill-up-application-details" method="post">
        <label> Enter Application Details </label><br>
        <input type="submit"><br>
    </form><br>

    <form action="apply-for-company" method="post">
        <label> Apply for Companies</label><br>
        <input type="submit"><br>
    </form><br>

</body>
</html>