<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User Profile Details</title>
</head>
<body>

    <h1>
        Edit User Profile Details here
    </h1><br>

    <h3>
        Create form here to edit user profile
    </h3>

    <form action = update-profile>
        <label> First Name: </label> <br>
        <input name="fname" type="text"><br>
        <label> Last Name: </label><br>
        <input name="lname" type="text"><br>

        <input type="submit"><br>
    </form><br>

</body>
</html>