<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User Profile Details</title>
</head>
<body>

    <h1>
        Edit User Profile Details here
    </h1><br>

    <h3>
        Create form here to edit user profile
    </h3>

    <form action = update-profile?$fname&$lname method="post">

        <label>First Name: <br>
            <input name="fname" type="text">
        </label><br>
        <label>Last Name: <br>
            <input name="lname" type="text">
        </label><br>

        <input type="submit"><br>
    </form><br>

</body>
</html>